.about-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  line-height: 1.7;
  color: #333;
  background-color: rgb(255, 255, 255);
}

.about-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}

.about-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.about-text strong {
  font-weight: 700;
  color: #000;
}
