.cart-drawer {
  padding: 15px;
  background: #fff;
}

/* Title */
.cart-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Cart Item List */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #f8f8f8;
  border-radius: 12px;
  position: relative;
}

.cart-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.cart-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.price-row {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.cut {
  text-decoration: line-through;
  color: grey;
  font-size: 13px;
}

.price {
  color: #000;
  font-weight: 600;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  width: 25px;
  height: 25px;
  border: none;
  background: #e5e5e5;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.remove-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* -----------------------------------------
   ORDER SUMMARY BOX (NEW)
--------------------------------------------*/

.order-summary-box {
  border: 2px solid #b54b4b;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  background: #fff;
}

.order-summary-box h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.order-summary-box .row,
.order-summary-box .sub,
.order-summary-box .final-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.order-summary-box .sub p {
  font-weight: 600;
}

.final-row h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 6px 0;
}

.note {
  font-size: 13px;
  color: #666;
  margin: 3px 0;
}

/* -----------------------------------------
   CHECKOUT BUTTON
--------------------------------------------*/

.checkout-bar {
  margin-top: 20px;
  padding: 10px;
  background: #fff;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #ad5617, #883a02);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}
.manual-order {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.manual-order p {
  font-size: 15px;
  color: #444;
  text-decoration: underline;
}
