.categories-container {
  padding: 20px;
  text-align: center;
  background: white;
}

.categories-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.category-card {
  text-decoration: none;
  color: black;
}

.category-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.category-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
