.contact-wrapper {
  padding-bottom: 50px;
}

.contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px 20px;
  gap: 10px; /* space between items */
}

.contact-logo {
  width: 90px;
  height: auto;
}

.contact-banner p {
  font-size: 14px;
  opacity: 0.9;
}

/* GET IN TOUCH SECTION */
.get-touch {
  padding: 20px;
}

.get-touch h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.get-touch p {
  line-height: 1.6;
  color: #444;
  font-size: 15px;
}

/* FORM */
.contact-form {
  padding: 20px;
  background: #fff;
}

.contact-form label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  background: #f7f7f7;
  border: 1px solid #e2e2e2;
  font-size: 14px;
}

.contact-form textarea {
  height: 120px;
}

.send-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #ad5617, #883a02);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

/* CONTACT DETAILS BOX */
.contact-details {
  margin: 25px 20px;
  padding: 20px;
  background: linear-gradient(90deg, #ad5617, #883a02);
  color: white;
  border-radius: 16px;
}

.contact-details h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.detail-box {
  margin-bottom: 0px;
}
.location-setup{
    margin-bottom: 0px;
}
.title {
  font-size: 15px !important;
  font-weight: 600;
  opacity: 0.9;
  margin: 0px;
}

.info {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
}
