.footer {
  background-color: #f3f3f3;
  padding: 40px 20px;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* FOOTER COLUMNS */
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  color: #8b673a;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul li {
  color: #333;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* App buttons */
.app-buttons img {
  width: 150px;
  margin-bottom: 10px;
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 14px;
}

/* ------------ MOBILE VIEW ---------- */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-section {
    text-align: left;
  }

  .app-buttons img {
    width: 130px;
  }
}

/* ------------ SMALL MOBILE ---------- */
@media (max-width: 480px) {
  .footer {
    padding: 30px 15px;
  }

  .footer-section h3 {
    font-size: 18px;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 15px;
  }

  .app-buttons img {
    width: 120px;
  }
}

footer a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: default !important;  
  pointer-events: auto; /* clickable but looks normal */
}
