/* NAVBAR */
.navbar {
  width: 100%;
  background: #fff;
  padding: 12px 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT MENU */
.left-menu {
  cursor: pointer;
  font-size: 28px;
}

/* CENTER LOGO */
.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.logo-img {
  width: 120px;
}

/* RIGHT CART */
.right-cart {
  cursor: pointer;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: -280px;
  top: 0;
  width: 260px;
  height: 100%;
  background: #ffffff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 2000;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

/* LOGIN BUTTON ROW */
.auth-buttons {
  padding: 10px 20px;
}

.login-btn,
.signup-btn {
  display: block;
  padding: 12px;
  margin: 6px 0;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
}

.login-btn {
  border: 1px solid black;
  color: black;
}

.signup-btn {
  
  color: rgb(0, 0, 0);
}

/* SIDEBAR LINKS */
.sidebar-links {
  list-style: none;
  padding: 0;
}

.category-row {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.submenu {
  padding-left: 20px;
}

.submenu li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: small;
}

/* LOGOUT BUTTON */
.logout-btn {
  display: block;
  margin: 20px;
  padding: 12px;
  background: linear-gradient(90deg, #ad5617, #883a02);
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1500;
}
