.category-page {
  padding: 20px;
}

.category-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #b66a56;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c67;
  color: white;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 10px;
}

.product-img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.brand {
  margin: 8px 0 3px;
  font-size: 12px;
  font-weight: bold;
}

.rating {
  font-size: 12px;
  background: #a83;
  color: #fff;
  padding: 2px 6px;
  border-radius: 6px;
  display: inline-block;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
}

.price-row {
  margin-top: 6px;
  font-size: 14px;
}

.mrp {
  text-decoration: line-through;
  color: #777;
}

.price {
  font-weight: bold;
  margin-left: 6px;
}

.per100 {
  font-size: 12px;
  color: #666;
}

.add-btn {
  width: 100%;
  padding: 8px;
  background: #772b34;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 8px;
  font-weight: bold;
}
