/* Main wrapper */
.register-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Card */
.register-card {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

/* Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Input box */
.input-box {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  padding-left: 10px;
  border-radius: 15px;
  gap: 10px;
}

.input-box .icon {
  font-size: 18px;
  color: #444;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

/* Checkbox */
.checkbox-area {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.checkbox-area input {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

/* Divider with text */
.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider-with-text::before,
.divider-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-with-text:not(:empty)::before {
  margin-right: 10px;
}

.divider-with-text:not(:empty)::after {
  margin-left: 10px;
}

.divider-text {
  font-size: 14px;
  color: #555;
}

/* Social icons */
.social-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.fb {
  background-color: #3b5998;
}

.google {
  background-color: #455877;
}

/* Button */
.register-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #ad5617, #883a02);
}
.divider-text {
  font-size: 14px;
  color: #444;
}

/* Social Icons */
.social-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
/* Login text */
.login-text {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #444;
}

.login-text span {
  color: #ad5617;
  cursor: pointer;
  font-weight: 600;
}
.login-link {
  color: #d48b21;
  font-weight: bold;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}
.signup-link {
  color: #d48b21;
  font-weight: bold;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}
